.send-file-modal {
  
  .data {
    margin-top: 10px;
  }

  textarea {
    height: 100px;
  }

  .media-preview {
    margin: 10px 0;

    img, video {
      max-height: 450px;
      width: 100%;
    }
  }

  .remove-media {
    margin: 10px 0;
  }
}