<ion-header>
  <ion-toolbar>
    <ion-title>
      Enviar novo arquivo
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="true" padding class="send-file-modal">
  <button full large ion-button color="secondary" (click)="cameraActions()">
    <ion-icon name="camera"></ion-icon>
  </button>
  <div *ngIf="media" class="media-preview">
    <img *ngIf="media.type === 'image'" src="{{media.src}}"/>
    <video webkit-playsinline *ngIf="media.type === 'video'" controls preload="metadata">
      <source src="{{media.src}}" type="{{media.mimeType}}">
    </video>
  </div>
  <button class="remove-media"
    *ngIf="hasMedia" 
    full ion-button icon-right color="danger" 
    (click)="removeFile()">
    Remover
    <ion-icon name="trash"></ion-icon>
  </button>
  <form (ngSubmit)="uploadFile(UploadFileForm)" #UploadFileForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Título</ion-label>
        <ion-input
          name="title"
          ngModel
          #title="ngModel">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Comentário</ion-label>
        <ion-textarea
          name="comment"
          ngModel 
          #comment="ngModel">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime
          class="data"
          name="date"
          ngModel
          displayFormat="DD/MM/YYYY"
          cancelText="cancelar"
          #date="ngModel"
          doneText="ok"
          required>
        </ion-datetime>
      </ion-item>
      <ion-item></ion-item>
    </ion-list>
    <button full large ion-button type="submit">Salvar</button>
  </form>
</ion-content>