.send-file-modal {
  
  .add-keyword {
    margin-top: 30px !important
  }

  .keywords {
    margin-right: 5px;

    .label {
      padding-left: 10px;
    }
  }

  .data {
    margin-top: 10px;
  }

  textarea {
    height: 100px;
  }

  .media-preview {
    margin: 10px 0;

    img, video {
      max-height: 450px;
      width: 100%;
    }
  }

  .remove-media {
    margin: 10px 0;
  }
}