<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alunos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addStudent()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar
    (ionInput)="searchStudent($event)"
    showCancelButton="true"
    placeholder="Procurar aluno"
    animated="true">
  </ion-searchbar>
  <ion-list>
    <ion-item (click)="goToStudentPage(student)">
        <ion-avatar item-left>
          <img src="assets/icon/favicon.ico">
        </ion-avatar>
        <h2>Nome</h2>
        <p>Descrição</p>
        <ion-icon name="more"
          item-right 
          (click)="showStudentPopover($event, student)"
          class="student-options">
        </ion-icon>
    </ion-item>
    <ion-item *ngFor="let student of students"
        (click)="goToStudentPage(student)">
        <ion-avatar *ngIf="student.avatar" item-left>
          <img src="{{student.avatar.path}}">
        </ion-avatar>
        <ion-icon
           class="default-avatar"
          *ngIf="!student.avatar"
           item-left
           name="contact"
           color="primary">
          </ion-icon>
        <h2>{{student.name}}</h2>
        <p>Turma: {{student.classNumber || ''}}&nbsp;&nbsp;&nbsp;&nbsp;Escola: {{student.school || ''}}</p>
        <ion-icon 
          name="more"
          item-right 
          (click)="showStudentPopover($event, student)"
          class="student-options">
        </ion-icon>
    </ion-item>
  </ion-list>
</ion-content>