<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{pageTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form #newStudentForm="ngForm">
        <ion-list>
            <ion-item>
                <label>Foto do aluno:</label>
                <button 
                    *ngIf="pageMode !== 'view'" 
                    full ion-button medium 
                    (click)="choosePicture('avatar')">
                    Escolher arquivo
                </button>
                <div>
                    <img *ngIf="student.avatar" [src]="student.avatar.path" height="350"/>
                </div>
            </ion-item>
            <ion-item>
                <ion-label floating>Nome</ion-label>
                <ion-input type="text"
                    required
                    [(ngModel)]="student.name" name="name"
                    #name="ngModel">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Sobrenome</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.lastName" name="lastName"
                    #name="ngModel">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>RG</ion-label>
                <ion-input type="number"
                    [(ngModel)]="student.geralRegister" name="geralRegister"
                    #name="ngModel">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Data de nascimento</ion-label>
                <ion-input type="date"
                    [(ngModel)]="student.birthdate" name="birthdate"
                    #name="ngModel">
                </ion-input>                
            </ion-item>
            <ion-item>
                <ion-label floating>Turma</ion-label>
                <ion-input type="number"
                    [(ngModel)]="student.classNumber" name="classNumber"
                    #name="ngModel">
                </ion-input>                
            </ion-item>
            <ion-item>
                <ion-label floating>Série</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.series" name="series"
                    #name="ngModel">
                </ion-input>                
            </ion-item>
            <ion-item>
                <ion-label floating>Turno</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.shift" name="shift"
                    #name="ngModel">
                </ion-input>                
            </ion-item>
            <ion-item>
                <ion-label floating>Escola</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.school" name="school"
                    #name="ngModel">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Nome do pai</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.fatherName" name="fatherName"
                    #name="ngModel">
                </ion-input>
            </ion-item>                                   
            <ion-item>
                <ion-label floating>Nome da mãe</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.motherName" name="motherName"
                    #name="ngModel">
                </ion-input>                
            </ion-item>
            <ion-item>
                <ion-label floating>Responsável</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.responsible" name="responsible"
                    #name="ngModel">
                </ion-input>                
            </ion-item>
            <ion-item>
                <ion-label floating>Parentesco do responsável</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.relationship" name="relationship"
                    #name="ngModel">
                </ion-input>
            </ion-item>                                   
            <ion-item>
                <ion-label floating>Número de telefone</ion-label>
                <ion-input type="number"
                    [(ngModel)]="student.phoneNumber" name="phoneNumber"
                    #name="ngModel">
                </ion-input>             
            </ion-item>
            <ion-item>
                <ion-label floating>Endereço</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.adress" name="adress"
                    #name="ngModel">
                </ion-input>
            </ion-item>                             
            <ion-item>
                <ion-label floating>CID</ion-label>
                <ion-input type="text"
                    [(ngModel)]="student.cid" name="cid"
                    #name="ngModel">
                </ion-input>
            </ion-item>
            <ion-item text-wrap *ngFor="let specialNeed of specialNeeds; let i = index">
                <ion-label>{{specialNeed.label}}</ion-label>
                <ion-checkbox [checked]="student.specialNeeds.indexOf(specialNeed.label) > -1"
                    (ionChange)="updateSpecialNeeds(specialNeed.label)"
                    name="specialNeed.label">
                </ion-checkbox>
            </ion-item>
            <ion-item text-wrap>
                <div *ngIf="pageMode !== 'view'">
                    <label>
                        {{pageMode !== 'view' ? 'Inserir documento com aprovação dos pais:' :
                        'Documento de aprovação dos pais:'}}
                    </label>
                    <button
                        full ion-button medium 
                        (click)="choosePicture('docParentsAproval')">
                        Escolher arquivo
                    </button>
                </div>
                <img *ngIf="student.docParentsAproval" [src]="student.docParentsAproval.path" height="350" width="350"/>
            </ion-item>
            <ion-item text-wrap>
                <ion-label>Li e aceito o termo de uso</ion-label>
                <ion-checkbox [checked]="student.termOfUse"
                    [(ngModel)]="student.termOfUse"
                    name="termOfUse"
                    #name="ngModel">
                </ion-checkbox>
                <a>Clique aqui para ver o termo de uso</a>
            </ion-item>
        </ion-list>
        <button *ngIf="pageMode !== 'view'" full large ion-button color="secondary" (click)="onSubmit()">
            {{pageMode === 'add' ? 'Cadastrar' : 'Salvar'}}
        </button>
    </form>
</ion-content>