  <ion-header class="student-page">
    <ion-navbar>
      <div class="avatar">
          <img *ngIf="student.avatar" class="img-circle" src="{{student.avatar.path}}"/>
          <ion-icon id="avatar-default-icon" 
            *ngIf="!student.avatar"
             name="contact"
             color="primary"
          ></ion-icon>
      </div>
    <ion-title>
      {{ student.name }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addFile()">
        <ion-icon id="add-file-icon" name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content class="student-content">
    <ion-list>
        <ion-item *ngFor="let file of files">
          <img *ngIf="file.type === 'image'" text-center src="{{file.url}}"/>
          <video *ngIf="file.type === 'video'" controls preload="metadata">
            <source src="{{file.url}}" type="{{file.mimeType}}">
          </video>
            <h2>{{file.title}}</h2>
            <ion-row>
              <ion-col col-11>
                  <p>{{file.comment}}</p><br>
                  <p>{{file.date}}</p>
              </ion-col>
              <ion-col col-1>
                  <ion-icon (click)="showOptions($event, file)" class="item-actions" name="more"></ion-icon>
              </ion-col>
          </ion-row>
        </ion-item>
    </ion-list>
  </ion-content>