.student-page {

  .avatar {
    float: left;

    .img-circle {
      border-radius:  50%;
    }
  }

  .toolbar-content {
    display: flex !important;
  }

  .student-files {
    position: absolute;
  }

  #add-file-icon {
    font-size: 35px;
  }

  #avatar-default-icon {
    font-size: 35px;
  }
}