<div class="student-page">
  <ion-header>
    <ion-navbar>
      <div class="avatar">
          <img *ngIf="student.avatar" class="img-circle" src="{{student.avatar.path}}" width="45"/>
          <ion-icon id="avatar-default-icon" 
            *ngIf="!student.avatar"
             name="contact"
             color="primary"
          ></ion-icon>
      </div>
    <ion-title>
      {{ student.name }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addFile()">
        <ion-icon id="add-file-icon" name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding class="student-files">
    <ion-card *ngFor="let file of files">
      <img *ngIf="file.mimeType==='image/jpeg'" src="{{file.url}}"/>
      <video *ngIf="file.mimeType==='video/mp4'" controls preload="metadata" heigth="500">
        <source src="{{file.url}}" type="{{file.mimeType}}">
      </video>
      <ion-card-content>
        <ion-card-title>
          {{file.date}}
        </ion-card-title>
        <p>
          {{file.comment}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>