.student-page {

  .avatar {
    float: left;

    .img-circle {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  .toolbar-content {
    display: flex !important;
  }

  #add-file-icon {
    font-size: 35px;
  }

  #avatar-default-icon {
    font-size: 35px;
  }
}

.student-content {
  img, video {
    max-height: 500px;
    width: 100%;
  }

  .item-actions {
    float: right;
  }
}